*{
    margin: 0;
    padding: 0;
    background-color: #eff0f4;
    font-size:62.5%;
   display: -webkit-flex; /* Safari */
   display: flex;
   flex-direction: column;
      
}

header {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-color: rgb(95, 192, 205);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 88px;  
  }

span {
    background-color: rgb(95, 192, 205);
    color:#fff;
    font-size: 3.2rem;
    font-family: "Adobe Heiti Std";
  }
span.spanLeft{
    text-align: left;      
    margin-left: 5%;
    width:30%;
}
span.spanMiddle{
    font-size: 3.6rem;
    text-align: center; 
    width:30%;    
}
span.spanRight{
    text-align: right;      
    margin-right:5%;
    width:30%;
}

.inputBlack{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    align-items:center;
    background-color: #fff;
    height: 100px;
    margin-top:33px;
}

.image{
    background-color: #fff;
    margin-left: 43px;
    width: 27px;
    height: 41px; 

}

.line{
    margin-left:45px;
    width: 2px;
    height: 52px;
    background-color: rgb(225, 229, 231);
    background-image:url("../task4/矩形\ 5\ 拷贝.png");
}
input{
    margin-left:35px;
    font-size: 3.6rem;
    font-family: "Adobe Heiti Std";
    color: rgb(225, 229, 231);
    background-color: #fff;
    border:none;
}
.login{
    background-color: #5fc0cd;
    margin-top:70px;
    height:100px;
    font-size: 3.6rem;
    font-family: "Adobe Heiti Std";
    color: rgb(243, 244, 246);
    align-items:center;
    
}
