*{
    margin: 0;
    padding: 0;
    background-color: #eff0f4;
    display: -webkit-flex; /* Safari */
    display: flex;
   flex-direction: column; 
   outline: none;
}


header {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-color: rgb(95, 192, 205);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 7%;  
  }

span {
    background-color: rgb(95, 192, 205);
    color:#fff;
    font-size: 3.2rem;
    font-family: "Adobe Heiti Std";
  }
span.spanLeft{
    text-align: left;      
    margin-left: 5%;
    width:30%;
}
span.spanMiddle{
    font-size: 3.6rem;
    text-align: center; 
    width:30%;    
}
span.spanRight{
    text-align: right;      
    margin-right:5%;
    width:30%;
}

.inputBlack{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    align-items:center;
    background-color: #fff;
    height: 8%;
    margin-top:2.66%;
}

.image{
    background-color: #fff;
    margin-left: 6.25%;
    width: 3.85%;
    height: 41%; 
}

.line{
    margin-left:6.25%;
    width: 0.277%;
    height: 52%;
    background-color: rgb(225, 229, 231);
    background-image:url("../task4/矩形\ 5\ 拷贝.png");
}
input{
    margin-left:4.86%;
    font-size: 3.6rem;
    font-family: "Adobe Heiti Std";
    color: rgb(225, 229, 231);
    background-color: #fff;
    border:none;
}
.login{
    background-color: #5fc0cd;
    margin-top:5.64%;
    height:8.06%;
    font-size: 3.6rem;
    font-family: "Adobe Heiti Std";
    color: rgb(243, 244, 246);
    align-items:center;    
}

footer{
    display: -webkit  inline-flex; /* Safari */
    display:  inline-flex;
    flex-direction: row-reverse;
    margin-top:0.4%;
    margin-right:4.16%;
    font-family: "Adobe Heiti Std";
    color: rgb(95, 192, 205);
}
a{    font-size: 3.2rem;
}