*{
    margin: 0;
    padding: 0;
    background-color: #eff0f4;
    display: -webkit-flex; /* Safari */
    display: flex;
   flex-direction: column;
   outline: none;
}


header {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-color: rgb(95, 192, 205);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 40px;  
  }
/*三个标题*/
span {
    background-color: rgb(95, 192, 205);
    color:#fff;
    font-size: 16px;
    font-family: "Adobe Heiti Std";
  }
span.spanLeft{
    text-align: left;      
    margin-left: 18px;
    width:30%;
}
span.spanMiddle{
    font-size: 18px;
    text-align: center; 
    width:30%;    
}
span.spanRight{
    text-align: right;      
    margin-right:18px;
    width:30%;
}

/*输入框*/
.inputBlack{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    align-items:center;
    background-color: #fff;
    height: 40px;
    margin-top:10px;
}

.image{
    background-color: #fff;
    margin-left: 14px;
    width: 14px;
    height: 20px; 
}

.line{
    margin-left:14px;
    width: 1px;
    height: 20px;
    background-color: rgb(225, 229, 231);
    background-image:url("../task4/矩形\ 5\ 拷贝.png");
}
input{
    margin-left:18px;
    font-size: 16px;
    font-family: "Adobe Heiti Std";
    color: rgb(225, 229, 231);
    background-color: #fff;
    border:0;
}
.login{
    background-color: #5fc0cd;
    margin-top:30px;
    height:45px;
    font-size: 18px;
    font-family: "Adobe Heiti Std";
    color: rgb(243, 244, 246);
    border:0; 
    justify-content: center;
    align-items:center;  


}

footer{
    display: -webkit  inline-flex; /* Safari */
    display:  inline-flex;
    flex-direction: row-reverse;
    margin-top:8px;
    margin-right:14px;
    font-family: "Adobe Heiti Std";
    color: rgb(95, 192, 205);
  
}
a{    
    font-size: 16px;
}