*{
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(95, 192, 205);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 40px;
}

/*后退按钮*/
.back{
    background-image: url("../task5/150%\ 返回.png");
    background-color: rgb(95, 192, 205);
    margin-top:12px;
    margin-left: 15px;
    width: 10px;
    height: 17px;
    border:none;
}


.spanMiddle{
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    display:block;
    margin-top:-17px;
}


.person{
    height:145px;
    width: 100%;
    border:1px;
    border-style:solid;
    border-color:  rgb(95, 192, 205);
    background-image: url("../task5/backimg.png");
    Background-repeat: no-repeat;
    background-size:100%;
}
.Ellipse {
    width: 76px;
    height: 76px;
    margin-top: 35px;      
    margin-left:14px;
    background-image:url("../task5/椭圆\ 1.png");
}
.name{
    width:50px;
    height:18px;
    font-s
}

.line{
    height:45px;
    width: 100%;
    border:1px;
    border-style:solid;
    border-color:  rgb(95, 192, 205);
}

footer {
    position:fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 40px; 
}

.bottom-button1{
    border-radius: 4px;
    width: 139px;
    height: 40px;
    margin-left:14px;
    margin-bottom:18px;
    border:1px;
    border-style:solid;
    border-color:  rgb(95, 192, 205);
    background: #ffffff;
    color: rgb(95, 192, 205);
    align-items:center;
    padding-top:10px;
    font-size: 14px;

}
.bottom-button2{
    border-radius: 4px;
    width: 139px;
    height: 40px;
    margin-right:14px;
    margin-bottom:18px;
    border:1px;
    border-style:solid;
    border-color:  rgb(95, 192, 205);
    background: rgb(95, 192, 205);
    color: #ffffff;
    align-items:center;
    padding-top:10px;
    font-size: 14px;
}
